In [6]:
fruits = [] #empty list
fruits = ['apple', 'banana'] #list with 2 elements
another_list = ['this is string', 10]

print(fruits)
print(another_list)

combined = [fruits, another_list]
print(combined)

['apple', 'banana']
['this is string', 10]
[['apple', 'banana'], ['this is string', 10]]

In [7]:
#add element to a list
fruits = ['apple', 'banana']
fruits.append('orange')
print(fruits)

fruits=fruits+['mango']
print(fruits)

['apple', 'banana', 'orange']
['apple', 'banana', 'orange', 'mango']

In [8]:
# Tuple
# memakai ()
coordinate = (0, 5)
colors = ('red', 'blue', 'pink')
print(coordinate)
print(colors)
print(type(coordinate))
print(type(colors))

(0, 5)
('red', 'blue', 'pink')
<class 'tuple'>
<class 'tuple'>

In [9]:
import pandas as pd
import numpy as np

In [10]:
## Merging
left = pd.DataFrame({'key':['K0','K1','K2','K3'],
                     'A':['A0','A1','A2','A3'],
                     'B':['B0','B1','B2','B3']})
right = pd.DataFrame({'key':['K0','K1','K2','K3'],
                     'C':['C0','C1','C2','C3'],
                     'D':['D0','D1','D2','D3']})

result1 = pd.merge(left, right, on='key')
print(result1)

  key   A   B   C   D
0  K0  A0  B0  C0  D0
1  K1  A1  B1  C1  D1
2  K2  A2  B2  C2  D2
3  K3  A3  B3  C3  D3

In [11]:
left = pd.DataFrame({'key1':['K0','K0','K1','K2'],
                     'key2':['K0','K1','K0','K1'],
                     'A':['A0','A1','A2','A3'],
                     'B':['B0','B1','B2','B3']})
right = pd.DataFrame({'key1':['K0','K1','K1','K2'],
                      'key2':['K0','K0','K0','K0'],
                     'C':['C0','C1','C2','C3'],
                     'D':['D0','D1','D2','D3']})

result2 = pd.merge(left, right, on=['key1', 'key2'])
print(result2)

  key1 key2   A   B   C   D
0   K0   K0  A0  B0  C0  D0
1   K1   K0  A2  B2  C1  D1
2   K1   K0  A2  B2  C2  D2

In [12]:
data1=pd.read_csv('mining.csv')
data2=pd.read_csv('mining2.csv')
print(data1)
print()
print(data2)

complete = pd.merge(data1,data2, on='Acid1')
complete.head()

   Acid1 Acid2
0  0.123     a
1  0.109     s
2  0.110     d
3  0.109     e
4  0.112     r
5  0.109     f
6  0.110     g
7  0.110     h
8  0.110     y
9  0.112     g

   Acid1  B
0  0.123  1
1  0.109  2
2  0.110  3
3  0.109  2
4  0.112  4
5  0.109  3
6  0.110  5
7  0.110  7
8  0.110  6
9  0.112  8

   Acid1 Acid2  B
0  0.123     a  1
1  0.109     s  2
2  0.109     s  2
3  0.109     s  3
4  0.109     e  2

In [14]:
df1 = pd.DataFrame({'A':['A0', 'A1', 'A2', 'A3'],
                    'B': ['B0', 'B1', 'B2', 'B3'],
                    'C': ['C0', 'C1', 'C2', 'C3'],
                    'D': ['D0', 'D1', 'D2', 'D3']})
df2 = pd.DataFrame({'A':['A4', 'A5', 'A6', 'A7'],
                    'B': ['B4', 'B5', 'B6', 'B7'],
                    'C': ['C4', 'C5', 'C6', 'C7'],
                    'D': ['D4', 'D5', 'D6', 'D7']})
df3 = pd.DataFrame({'A':['A8', 'A9', 'A10', 'A11'],
                    'B': ['B8', 'B9', 'B10', 'B11'],
                    'C': ['C8', 'C9', 'C10', 'C11'],
                    'D': ['D8', 'D9', 'D10', 'D11']})
result = pd.concat([df1, df2, df3])
print(result)

     A    B    C    D
0   A0   B0   C0   D0
1   A1   B1   C1   D1
2   A2   B2   C2   D2
3   A3   B3   C3   D3
0   A4   B4   C4   D4
1   A5   B5   C5   D5
2   A6   B6   C6   D6
3   A7   B7   C7   D7
0   A8   B8   C8   D8
1   A9   B9   C9   D9
2  A10  B10  C10  D10
3  A11  B11  C11  D11